*, *::before, *::after {
    box-sizing: border-box;
  }

.main {
  display:grid;
  place-content: center;
}

.container {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    margin: 2rem auto;
  }

.home {
  min-height: 100vh;
}


.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul > li {
  margin-right: 1.5rem;
}

li {
  margin: 0.5rem;
}

.content { 
  text-align: justify;
  text-indent: 50px;
}

.post-div {
  padding: 1rem;
  margin: 2rem;
  border: solid 1px black;
}

