*, *::before, *::after {
    box-sizing: border-box;
  }

.main {
  display:grid;
  place-content: center;
}

.container {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    margin: 2rem auto;
  }

ul > li {
  margin-right: 1.5rem;
}

li {
  margin: 0.5rem;
}

img {
  border-radius: 50%;
}
